# Machine Learning CA2

Student: Charles Franklin Jahn 2020315

Lecturer: David Mcquaid

CCT College Dublin

BSc (Hons) in Computing in IT - 4nd Year

31/05/2024

In [26]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
Collecting nltk>=3.8
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: tqdm in c:\users\charl\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.62.3)
Requirement already satisfied: click in c:\users\charl\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.0.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\charl\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2021.8.3)
Requirement already satisfied: joblib in c:\users\charl\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.1.0)
Requirement already satisfied: colorama in c:\users\charl\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.4)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.6.5
    Uninstalling nltk-3.6.5:
      Successfully uninstalled nltk-3.6.5
Successfully installed nltk-3.8.1 textblob-0.18.0.post0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

C:\Users\charl\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("BankRecords.csv")

In [3]:
df.head(100)

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,38,12,48,95617,4,0.2,Masters,0,No,No,No,Yes,No
96,97,41,15,80,95014,1,5.2,Diploma,0,No,No,No,No,No
97,98,54,28,161,92121,1,2.9,Diploma,0,No,No,No,Yes,No
98,99,49,23,94,92374,1,0.3,Diploma,0,No,No,No,Yes,No
99,100,66,41,15,91711,3,0.1,Masters,0,No,No,No,Yes,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     5000 non-null   int64
 1   Age                    5000 non-null   int64
 2   Experience(Years)      5000 non-null   int64
 3   Income(Thousands's)    5000 non-null   int64
 4   Sort Code              5000 non-null   int64
 5   Family                 5000 non-null   int64
 6   Credit Score           5000 non-null   float64
 7   Education              5000 non-null   object
 8   Mortgage(Thousands's)  5000 non-null   int64
 9   Personal Loan          5000 non-null   object
 10  Securities Account     5000 non-null   object
 11  CD Account             5000 non-null   object
 12  Online Banking         5000 non-null   object
 13  CreditCard             5000 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 547.0+ KB

In [5]:
df.describe()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's)
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

In [6]:
df.isnull().sum()

ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     5000 non-null   int64
 1   Age                    5000 non-null   int64
 2   Experience(Years)      5000 non-null   int64
 3   Income(Thousands's)    5000 non-null   int64
 4   Sort Code              5000 non-null   int64
 5   Family                 5000 non-null   int64
 6   Credit Score           5000 non-null   float64
 7   Education              5000 non-null   object
 8   Mortgage(Thousands's)  5000 non-null   int64
 9   Personal Loan          5000 non-null   object
 10  Securities Account     5000 non-null   object
 11  CD Account             5000 non-null   object
 12  Online Banking         5000 non-null   object
 13  CreditCard             5000 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 585.9+ KB

In [9]:
# Define the mapping dictionary
mapping = {'Yes': 1, 'No': 0}

# List of columns to map
columns_to_map = ['Personal Loan', 'Securities Account', 'CD Account', 'Online Banking', 'CreditCard']

# Apply the mapping to the specified columns
df[columns_to_map] = df[columns_to_map].replace(mapping)

In [10]:
df.head(15)

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,Diploma,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,Diploma,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,Degree,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,Degree,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,Degree,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,Degree,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,Masters,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,Degree,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,Masters,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,Masters,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,Degree,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,Masters,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,Degree,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,Diploma,0,0,1,0,0,0

In [11]:
# Convert 'Education' to numerical using one-hot encoding
df = pd.get_dummies(df, columns=['Education'])

In [12]:
df.head(15)

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard,Education_Degree,Education_Diploma,Education_Masters
0,1,25,1,49,91107,4,1.6,0,0,1,0,0,0,0,1,0
1,2,45,19,34,90089,3,1.5,0,0,1,0,0,0,0,1,0
2,3,39,15,11,94720,1,1.0,0,0,0,0,0,0,0,1,0
3,4,35,9,100,94112,1,2.7,0,0,0,0,0,0,1,0,0
4,5,35,8,45,91330,4,1.0,0,0,0,0,0,1,1,0,0
5,6,37,13,29,92121,4,0.4,155,0,0,0,1,0,1,0,0
6,7,53,27,72,91711,2,1.5,0,0,0,0,1,0,1,0,0
7,8,50,24,22,93943,1,0.3,0,0,0,0,0,1,0,0,1
8,9,35,10,81,90089,3,0.6,104,0,0,0,1,0,1,0,0
9,10,34,9,180,93023,1,8.9,0,1,0,0,0,0,0,0,1
10,11,65,39,105,94710,4,2.4,0,0,0,0,0,0,0,0,1
11,12,29,5,45,90277,3,0.1,0,0,0,0,1,0,1,0,0
12,13,48,23,114,93106,2,3.8,0,0,1,0,0,0,0,0,1
13,14,59,32,40,94920,4,2.5,0,0,0,0,1,0,1,0,0
14,15,67,41,112,91741,1,2.0,0,0,1,0,0,0,0,1,0

In [13]:
# Feature scaling for numerical variables
scaler = StandardScaler()
numerical_columns = ['Age', 'Experience(Years)', 'Sort Code', 'Credit Score', 'Mortgage(Thousands\'s)']
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [14]:
df.head(15)

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard,Education_Degree,Education_Diploma,Education_Masters
0,1,-1.774417,-1.666078,49,-0.964114,4,-0.193371,-0.555524,0,1,0,0,0,0,1,0
1,2,-0.029524,-0.096330,34,-1.443932,3,-0.250595,-0.555524,0,1,0,0,0,0,1,0
2,3,-0.552992,-0.445163,11,0.738814,1,-0.536720,-0.555524,0,0,0,0,0,0,1,0
3,4,-0.901970,-0.968413,100,0.452243,1,0.436103,-0.555524,0,0,0,0,0,1,0,0
4,5,-0.901970,-1.055621,45,-0.859007,4,-0.536720,-0.555524,0,0,0,0,1,1,0,0
5,6,-0.727481,-0.619580,29,-0.486182,4,-0.880069,0.968512,0,0,0,1,0,1,0,0
6,7,0.668434,0.601336,72,-0.679429,2,-0.250595,-0.555524,0,0,0,1,0,1,0,0
7,8,0.406700,0.339711,22,0.372588,1,-0.937294,-0.555524,0,0,0,0,1,0,0,1
8,9,-0.901970,-0.881204,81,-1.443932,3,-0.765619,0.467055,0,0,0,1,0,1,0,0
9,10,-0.989215,-0.968413,180,-0.061039,1,3.984046,-0.555524,1,0,0,0,0,0,0,1
10,11,1.715370,1.647835,105,0.734101,4,0.264429,-0.555524,0,0,0,0,0,0,0,1
11,12,-1.425438,-1.317246,45,-1.355321,3,-1.051744,-0.555524,0,0,0,1,0,1,0,0
12,13,0.232210,0.252503,114,-0.021918,2,1.065577,-0.555524,0,1,0,0,0,0,0,1
13,14,1.191902,1.037377,40,0.833081,4,0.321653,-0.555524,0,0,0,1,0,1,0,0
14,15,1.889859,1.822251,112,-0.665289,1,0.035529,-0.555524,0,1,0,0,0,0,1,0

In [15]:
# Splitting data into features and target variable
X = df.drop('Income(Thousands\'s)', axis=1)
y = df['Income(Thousands\'s)']

In [16]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Define the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.5),  # Adicionando Dropout para evitar overfitting
    Dense(32, activation='relu'),
    Dropout(0.5),  # Adicionando Dropout para evitar overfitting
    Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# Train the model
history = model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=23)

# Evaluate the model
loss, mae = model.evaluate(X_test, y_test)
print(f"\nTest MAE: {mae}")

Epoch 1/100

C:\Users\charl\anaconda3\lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 175398.2188 - mae: 287.3945 - val_loss: 4882.1079 - val_mae: 55.1000
Epoch 2/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 23126.0410 - mae: 111.3201 - val_loss: 4160.0264 - val_mae: 49.3474
Epoch 3/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 10266.1738 - mae: 75.5178 - val_loss: 3985.9468 - val_mae: 48.1012
Epoch 4/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7031.8257 - mae: 65.5555 - val_loss: 3969.9778 - val_mae: 47.9878
Epoch 5/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 6346.5020 - mae: 61.7292 - val_loss: 3818.1450 - val_mae: 46.9690
Epoch 6/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5184.7754 - mae: 55.5964 - val_loss: 3940.9099 - val_mae: 47.7801
Epoch 7/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5352.1201 - mae: 56.7484 - val_loss: 3726.9883 - val_mae: 46.3919
Epoch 8/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5332.6812 - mae: 56.9135 - val_loss: 3410.1960 - val_mae: 44.5173
Epoch 9/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4878.4146 - mae: 54.8185 - val_loss: 3497.5818 - val_mae: 44.9947
Epoch 10/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4643.6406 - mae: 52.9403 - val_loss: 3302.5889 - val_mae: 43.9451
Epoch 11/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4843.4438 - mae: 53.8368 - val_loss: 3250.2964 - val_mae: 43.6885
Epoch 12/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4625.0420 - mae: 52.8604 - val_loss: 3492.3066 - val_mae: 44.9347
Epoch 13/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4406.0933 - mae: 51.6887 - val_loss: 3353.8738 - val_mae: 44.1577
Epoch 14/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4379.6763 - mae: 51.3132 - val_loss: 3314.9443 - val_mae: 43.9430
Epoch 15/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4533.1733 - mae: 52.4329 - val_loss: 3352.1091 - val_mae: 44.1051
Epoch 16/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4283.2925 - mae: 50.4835 - val_loss: 3186.8630 - val_mae: 43.3004
Epoch 17/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4571.6802 - mae: 52.4334 - val_loss: 3220.0857 - val_mae: 43.3974
Epoch 18/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4084.5662 - mae: 49.0468 - val_loss: 3036.6345 - val_mae: 42.8027
Epoch 19/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4002.5850 - mae: 48.9435 - val_loss: 3189.7151 - val_mae: 43.1613
Epoch 20/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4245.6387 - mae: 50.1237 - val_loss: 3087.3472 - val_mae: 42.7479
Epoch 21/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4075.0312 - mae: 49.3197 - val_loss: 3075.0461 - val_mae: 42.6321
Epoch 22/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3948.8589 - mae: 48.6731 - val_loss: 3138.9194 - val_mae: 42.7592
Epoch 23/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4023.5312 - mae: 49.0508 - val_loss: 3018.8047 - val_mae: 42.1969
Epoch 24/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4023.0251 - mae: 48.9480 - val_loss: 2845.3765 - val_mae: 41.7939
Epoch 25/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3870.8647 - mae: 48.3445 - val_loss: 2932.9097 - val_mae: 41.7059
Epoch 26/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3964.1028 - mae: 47.9050 - val_loss: 2966.2078 - val_mae: 41.5785
Epoch 27/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3669.0537 - mae: 46.4662 - val_loss: 2790.6968 - val_mae: 40.5997
Epoch 28/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3686.8025 - mae: 46.7926 - val_loss: 2723.9705 - val_mae: 40.1492
Epoch 29/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3642.9827 - mae: 46.1411 - val_loss: 2868.1094 - val_mae: 40.5438
Epoch 30/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3630.9719 - mae: 46.2037 - val_loss: 2771.2488 - val_mae: 39.6858
Epoch 31/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3425.8484 - mae: 44.5477 - val_loss: 2544.0481 - val_mae: 38.0732
Epoch 32/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3222.1523 - mae: 43.7806 - val_loss: 2266.5127 - val_mae: 36.0221
Epoch 33/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3045.9680 - mae: 42.2631 - val_loss: 2271.0559 - val_mae: 35.7989
Epoch 34/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3007.6418 - mae: 42.2789 - val_loss: 2302.4001 - val_mae: 35.6546
Epoch 35/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2834.2019 - mae: 40.4298 - val_loss: 1708.6842 - val_mae: 31.8254
Epoch 36/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2764.4343 - mae: 40.5930 - val_loss: 1791.2584 - val_mae: 32.1516
Epoch 37/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2668.5557 - mae: 39.4267 - val_loss: 1708.3136 - val_mae: 31.4654
Epoch 38/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2621.3274 - mae: 39.8665 - val_loss: 2208.5325 - val_mae: 34.7863
Epoch 39/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2451.0742 - mae: 38.0984 - val_loss: 1607.1061 - val_mae: 30.2938
Epoch 40/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2399.2766 - mae: 37.5937 - val_loss: 1679.2539 - val_mae: 30.6736
Epoch 41/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2414.7732 - mae: 37.7233 - val_loss: 2081.2595 - val_mae: 33.7222
Epoch 42/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2421.8506 - mae: 37.3994 - val_loss: 1350.9242 - val_mae: 28.4348
Epoch 43/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2138.2656 - mae: 35.4683 - val_loss: 1476.7843 - val_mae: 29.1762
Epoch 44/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2573.7549 - mae: 38.7041 - val_loss: 1256.6755 - val_mae: 27.4438
Epoch 45/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2065.7874 - mae: 34.3454 - val_loss: 1300.2155 - val_mae: 27.5541
Epoch 46/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2277.8562 - mae: 36.3251 - val_loss: 1392.4869 - val_mae: 28.5350
Epoch 47/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2311.4429 - mae: 36.5758 - val_loss: 1308.8003 - val_mae: 27.3392
Epoch 48/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2187.2847 - mae: 35.2484 - val_loss: 1252.9697 - val_mae: 27.0472
Epoch 49/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2073.4673 - mae: 34.3292 - val_loss: 1162.3042 - val_mae: 26.5628
Epoch 50/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1988.5697 - mae: 34.4349 - val_loss: 1599.3608 - val_mae: 29.3967
Epoch 51/100

140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2076.7600 - mae: 34.6196 - val_loss: 1608.6897 - val_mae: 29.6900
Epoch 52/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2206.2708 - mae: 35.3949 - val_loss: 1177.9016 - val_mae: 25.7766
Epoch 53/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1800.8792 - mae: 31.9538 - val_loss: 1205.4869 - val_mae: 26.1764
Epoch 54/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2051.0234 - mae: 33.9812 - val_loss: 1127.8073 - val_mae: 25.9142
Epoch 55/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1999.6179 - mae: 34.3986 - val_loss: 1229.2662 - val_mae: 26.5724
Epoch 56/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1961.1456 - mae: 33.1806 - val_loss: 1172.9321 - val_mae: 25.9407
Epoch 57/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2054.9790 - mae: 34.4965 - val_loss: 1117.6064 - val_mae: 25.4939
Epoch 58/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2045.3746 - mae: 34.3842 - val_loss: 1472.2352 - val_mae: 28.3725
Epoch 59/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2090.4675 - mae: 34.3157 - val_loss: 1116.4480 - val_mae: 25.6216
Epoch 60/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1963.3485 - mae: 34.1706 - val_loss: 1573.5178 - val_mae: 29.1716
Epoch 61/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2008.3145 - mae: 33.7891 - val_loss: 1157.2317 - val_mae: 27.2118
Epoch 62/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1958.6011 - mae: 33.4582 - val_loss: 1098.6501 - val_mae: 25.0076
Epoch 63/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1878.1158 - mae: 32.7646 - val_loss: 1283.3950 - val_mae: 26.3475
Epoch 64/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1925.9445 - mae: 33.0790 - val_loss: 1123.9974 - val_mae: 26.7276
Epoch 65/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1961.2526 - mae: 33.5920 - val_loss: 1109.0756 - val_mae: 25.4243
Epoch 66/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1954.8452 - mae: 33.1882 - val_loss: 1055.5767 - val_mae: 24.8424
Epoch 67/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1771.7642 - mae: 31.4611 - val_loss: 1079.1748 - val_mae: 25.3421
Epoch 68/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1838.5757 - mae: 32.0924 - val_loss: 1029.6885 - val_mae: 24.2317
Epoch 69/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1835.0891 - mae: 32.4653 - val_loss: 1088.8743 - val_mae: 25.2333
Epoch 70/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1913.7017 - mae: 33.2753 - val_loss: 1186.5182 - val_mae: 25.5912
Epoch 71/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1775.6874 - mae: 31.8744 - val_loss: 1275.2832 - val_mae: 26.3906
Epoch 72/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1903.3553 - mae: 33.0609 - val_loss: 1072.5554 - val_mae: 24.5440
Epoch 73/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1703.4049 - mae: 31.2339 - val_loss: 1092.8063 - val_mae: 25.0688
Epoch 74/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1835.1550 - mae: 32.3873 - val_loss: 1133.3785 - val_mae: 25.2284
Epoch 75/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1764.9802 - mae: 31.5288 - val_loss: 1149.8278 - val_mae: 25.2854
Epoch 76/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1875.3369 - mae: 32.4461 - val_loss: 1399.8842 - val_mae: 27.5124
Epoch 77/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1816.3524 - mae: 32.0406 - val_loss: 1034.6650 - val_mae: 24.8436
Epoch 78/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1748.5938 - mae: 31.6105 - val_loss: 1084.0336 - val_mae: 24.8557
Epoch 79/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1693.9686 - mae: 31.2807 - val_loss: 1262.2831 - val_mae: 26.1708
Epoch 80/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1759.4001 - mae: 31.4492 - val_loss: 1013.5153 - val_mae: 24.9776
Epoch 81/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2029.3875 - mae: 33.9082 - val_loss: 1251.4559 - val_mae: 26.2170
Epoch 82/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1883.9395 - mae: 32.7302 - val_loss: 1091.2426 - val_mae: 25.0054
Epoch 83/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1959.5010 - mae: 33.4451 - val_loss: 1235.6078 - val_mae: 25.8786
Epoch 84/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1761.2174 - mae: 31.5891 - val_loss: 1200.3386 - val_mae: 25.5231
Epoch 85/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1722.1570 - mae: 31.3934 - val_loss: 1142.9696 - val_mae: 25.3524
Epoch 86/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1803.5480 - mae: 32.3056 - val_loss: 1104.7677 - val_mae: 26.1838
Epoch 87/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1755.0767 - mae: 31.5366 - val_loss: 1086.6083 - val_mae: 26.0239
Epoch 88/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1889.1149 - mae: 32.7254 - val_loss: 982.4167 - val_mae: 24.0141
Epoch 89/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1835.2638 - mae: 32.4496 - val_loss: 1006.5842 - val_mae: 24.9516
Epoch 90/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1656.0685 - mae: 31.1111 - val_loss: 1140.4359 - val_mae: 25.3258
Epoch 91/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1687.8517 - mae: 30.9356 - val_loss: 1003.5516 - val_mae: 24.5195
Epoch 92/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1708.8282 - mae: 31.1500 - val_loss: 1000.7236 - val_mae: 24.8100
Epoch 93/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1783.1940 - mae: 32.1618 - val_loss: 1057.3303 - val_mae: 24.2455
Epoch 94/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1611.6664 - mae: 30.2230 - val_loss: 1062.2233 - val_mae: 24.5928
Epoch 95/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1693.8596 - mae: 31.5806 - val_loss: 1162.7913 - val_mae: 25.6242
Epoch 96/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1688.1241 - mae: 30.9353 - val_loss: 1333.3900 - val_mae: 26.9065
Epoch 97/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1924.9108 - mae: 33.4529 - val_loss: 1073.0072 - val_mae: 24.8360
Epoch 98/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1815.1930 - mae: 32.0097 - val_loss: 1119.7375 - val_mae: 25.1556
Epoch 99/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1546.0869 - mae: 29.9149 - val_loss: 1160.6533 - val_mae: 27.1766
Epoch 100/100
140/140 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1953.9702 - mae: 33.0209 - val_loss: 990.4053 - val_mae: 25.2163
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 829us/step - loss: 1202.7814 - mae: 27.3629

Test MAE: 26.59572982788086

In [18]:
# Define and train the model
rf = RandomForestRegressor(n_estimators=100, random_state=23)
rf.fit(X_train, y_train)

# Predict and evaluate
y_pred_rf = rf.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print(f"Random Forest MAE: {mae_rf}")

Random Forest MAE: 15.27881

## Model Performance Comparison

### Mean Absolute Error (MAE) Results:
- **Neural Network MAE:** ~24.71
- **Random Forest MAE:** ~15.28

### Interpretation:
For this case the Random Forest model has significantly better perfornance than the Neural Network in predicting customer income, as indicated by the lower MAE.

### Possible Reasons:
1. The data structure may favor the decision tree-based approach for Models, like Random Forests.
2. The neural network architecture works with dataset that contains more complex and "unstable" datas, like Cryptocurrencies and/or total of immigrants in certain country, this data sometimes has outliers due extern problem, such as wars or macroeconomics' decisions.
3. Random Forests are less prone to overfitting and handle numerical and categorical data effectively.

### Final Decision:
The Random Forest model is currently preferred due to its lower MAE, indicating more accurate income predictions for customers. Further tuning of the neural network is recommended for potential performance improvement.

In [19]:
next_id = df['ID'].max()+1
# Example new customer data
new_customer = pd.DataFrame({
    'ID': [0],
    'Age': [35],
    'Experience(Years)': [10],
    'Sort Code': [123456],
    'Family': [4],
    'Credit Score': [700],
    'Mortgage(Thousands\'s)': [0],
    'Personal Loan': [0],
    'Securities Account': [0],
    'CD Account': [0],
    'Online Banking': [1],
    'CreditCard': [1],
    'Education_Bachelor': [0],
    'Education_Master': [1],
    'Education_PhD': [0]
})

new_customer['ID'] = next_id

In [20]:
# Predict with Neural Network
predicted_income_nn = model.predict(new_customer)
print(f"Predicted Income (NN): {predicted_income_nn[0][0]}")

# Predict with Random Forest
predicted_income_rf = rf.predict(new_customer)
print(f"Predicted Income (RF): {predicted_income_rf[0]}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
Predicted Income (NN): 19455.662109375
Predicted Income (RF): 192.88

In [21]:
df.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Mortgage(Thousands's)', 'Personal Loan',
       'Securities Account', 'CD Account', 'Online Banking', 'CreditCard',
       'Education_Degree', 'Education_Diploma', 'Education_Masters'],
      dtype='object')

In [22]:
# Previsões nos dados de teste
y_pred_nn = model.predict(X_test).flatten()
y_pred_rf = rf.predict(X_test)

# Calcular MAE e MSE
mae_nn = mean_absolute_error(y_test, y_pred_nn)
mse_nn = mean_squared_error(y_test, y_pred_nn)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)

print(f"Neural Network MAE: {mae_nn}, MSE: {mse_nn}")
print(f"Random Forest MAE: {mae_rf}, MSE: {mse_rf}")

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Neural Network MAE: 26.595728401184083, MSE: 1103.9548251029487
Random Forest MAE: 15.27881, MSE: 425.19828590000003

## Task 2

In [23]:
tweets_df = pd.read_csv("Tweets.csv")

In [24]:
tweets_df.head(20)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2015-02-24 11:14:33 -0800,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)
7,570300248553349120,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,NaN,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn't…but NOW I DO! :-D",NaN,2015-02-24 11:11:19 -0800,San Diego,Pacific Time (US & Canada)
9,570295459631263746,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",NaN,2015-02-24 10:53:27 -0800,Los Angeles,Eastern Time (US & Canada)
10,570294189143031808,neutral,0.6769,NaN,0.0000,Virgin America,NaN,idk_but_youtube,NaN,0,@VirginAmerica did you know that suicide is th...,NaN,2015-02-24 10:48:24 -0800,1/1 loner squad,Eastern Time (US & Canada)
11,570289724453216256,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica I &lt;3 pretty graphics. so muc...,NaN,2015-02-24 10:30:40 -0800,NYC,America/New_York
12,570289584061480960,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica This is such a great deal! Alre...,NaN,2015-02-24 10:30:06 -0800,NYC,America/New_York
13,570287408438120448,positive,0.6451,NaN,NaN,Virgin America,NaN,mollanderson,NaN,0,@VirginAmerica @virginmedia I'm flying your #f...,NaN,2015-02-24 10:21:28 -0800,NaN,Eastern Time (US & Canada)
14,570285904809598977,positive,1.0000,NaN,NaN,Virgin America,NaN,sjespers,NaN,0,@VirginAmerica Thanks!,NaN,2015-02-24 10:15:29 -0800,"San Francisco, CA",Pacific Time (US & Canada)
15,570282469121007616,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,NaN,2015-02-24 10:01:50 -0800,"palo alto, ca",Pacific Time (US & Canada)
16,570277724385734656,positive,1.0000,NaN,NaN,Virgin America,NaN,ItzBrianHunty,NaN,0,@VirginAmerica So excited for my first cross c...,NaN,2015-02-24 09:42:59 -0800,west covina,Pacific Time (US & Canada)
17,570276917301137409,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,NaN,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
18,570270684619923457,positive,1.0000,NaN,NaN,Virgin America,NaN,thebrandiray,NaN,0,I ❤️ flying @VirginAmerica. ☺️👍,NaN,2015-02-24 09:15:00 -0800,Somewhere celebrating life.,Atlantic Time (Canada)
19,570267956648792064,positive,1.0000,NaN,NaN,Virgin America,NaN,JNLpierce,NaN,0,@VirginAmerica you know what would be amazingl...,NaN,2015-02-24 09:04:10 -0800,Boston | Waltham,Quito

In [25]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob

ModuleNotFoundError: No module named 'textblob'

In [ ]:
# Download necessary NLTK data
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [ ]:

def preprocess(text):
    text = re.sub(r"http\S+", "", text)  # Remove URLs
    text = re.sub(r"@\S+", "", text)     # Remove mentions
    text = re.sub(r"#\S+", "", text)     # Remove hashtags
    text = re.sub(r"[^a-zA-Z\s]", "", text)  # Remove punctuation
    text = text.lower()  # Lowercase
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
    return " ".join(tokens)

In [ ]:
tweets_df['processed_text'] = tweets_df['tweet'].apply(preprocess)

In [ ]:
# Display the first few rows of the updated DataFrame
tweets_df.head()

In [ ]:
def get_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

tweets_df['sentiment'] = tweets_df['processed_text'].apply(get_sentiment)

# Classify sentiments
def classify_sentiment(polarity):
    if polarity > 0:
        return 'positive'
    elif polarity == 0:
        return 'neutral'
    else:
        return 'negative'

tweets_df['sentiment_class'] = tweets_df['sentiment'].apply(classify_sentiment)

# Display the first few rows of the updated DataFrame
print(tweets_df.head())